asn1crypto==0.24.0
astroid==1.5.3
attrs==18.2.0
Automat==0.7.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.11.5
cffi==1.11.5
chardet==3.0.4
colorama==0.3.9
constantly==15.1.0
cryptography==2.4.2
cssselect==1.0.3
cycler==0.10.0
Django==2.0.2
docopt==0.6.2
dukpy==0.2.2
echarts-china-provinces-pypkg==0.0.3
echarts-countries-pypkg==0.1.6
et-xmlfile==1.0.1
future==0.17.1
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
isort==4.2.15
itchat==1.3.10
javascripthon==0.10
jdcal==1.4
jieba==0.39
Jinja2==2.10
js2xml==0.3.1
jupyter-echarts-pypkg==0.1.2
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
lml==0.0.2
lxml==4.2.1
macropy3==1.1.0b2
MarkupSafe==1.1.0
matplotlib==3.0.2
mccabe==0.6.1
numpy==1.14.4
odfpy==1.3.6
openpyxl==2.5.3
pandas==0.23.0
parsel==1.5.1
pillow==8.2.0
ply==3.11
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
PyDispatcher==2.0.5
pyecharts==0.5.11
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
pyecharts-snapshot==0.1.9
PyHamcrest==1.9.0
pylint==1.7.4
pymongo==3.6.1
PyMySQL==0.8.0
pyOpenSSL==18.0.0
pyparsing==2.3.0
pypng==0.0.18
PyQRCode==1.2.1
python-dateutil==2.7.3
pytz==2017.3
PyYAML==3.12
queuelib==1.5.0
records==0.5.2
requests==2.18.4
rsa==4.0
service-identity==17.0.0
six==1.11.0
slimit==0.8.1
SQLAlchemy==1.2.7
tablib==0.12.1
threadpool==1.3.2
unicodecsv==0.14.1
urllib3==1.22
virtualenv==15.1.0
w3lib==1.19.0
wordcloud==1.5.0
wrapt==1.10.11
xlrd==1.1.0
XlsxWriter==1.0.4
xlwt==1.3.0
zope.interface==4.6.0
